/* Importa a Fonte */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Background Escuro para o Corpo */

html, body {
  background: #181818;
  font-family: 'Lato', helvetica,arial,sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0)
}

/* Currículo */

#cv {
  width: 100%;
  max-width: 800px;
  background: #f3f3f3;
  margin: 0px auto;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: rgb(20, 20, 20)
}

/* Cabeçalho */

.personal-details {
  padding: 25px 35px;
  border-bottom: 2px solid #006BA6;
  display: flex;
  justify-content: space-between;
}

/* #avatar {
  width: 12.5%;
  margin-right: -20%;
}

#avatar img {
  width: 100%;
  height: auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
} */

#name-title h1 {
  font-size: 2.4em;
  font-weight: bold;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin-bottom: -6px
}

#name-title h2 {
  font-size: 2em;
  margin-left: 2px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

#name-title h3 {
  font-size: 1.1em;
  margin-left: 5px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

#contact-details ul {
  list-style-type: none;
  font-size: 0.9em;
  margin-top: 23px;
  margin-right: 10px;
}

#contact-details ul li {
  margin-bottom: 3px;
  color: rgb(20, 20, 20)
}

#contact-details ul li a {
  color: rgb(20, 20, 20);
  text-decoration: none;
  transition: all .3s ease-in
}

#contact-details ul li a:hover {
  color: #006BA6
}

/* #contact-detail-extranumber {
  margin-left: 17px;
} */

/* Corpo do Currículo */

section {
  border-top: 1px solid #DEDEDE;
  padding: 18px 0 0;
  display: flex
}

section:first-child {
  border-top: 0;
}

section:last-child {
  padding: 20px 0 10px;
}

.section-title {
  float: left;
  width: 25%;
  margin-left: 15px;
}

.section-content {
  float: right;
  width: 70%;
  margin-top: 4px;
}

.section-title h1 {
  font-family: 'Roboto',Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #006BA6;
}

.section-content h2 {
  font-family: 'Roboto',Helvetica,Arial,sans-serif;
  font-size: 1.3em;
  margin-bottom: -2px;
  margin-top: -5px;
}

.section-content p {
  text-align: justify;
}

.sub-details {
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 1px
}

#soft-skills {
  list-style-type: none;
  column-count: 3;
  margin-bottom: 20px;
  font-size: 1em;
  color: rgb(20, 20, 20)
}

#soft-skills li {
  margin-bottom: 5px;
}

.list {
  list-style-type: none;
  margin-bottom: 20px;
  font-size: 1em;
  color: rgb(20, 20, 20)
}

.list li {
  margin-bottom: 5px;
}

#informativo {
  font-size: 0.8em;
  margin: 10px 30px;
  color: rgb(20, 20, 20);
}