:root {
    --topBackground: rgb(107, 0, 173);
    --home-icon-color: rgb(52, 0, 85);
    --bodyBackground: rgb(221, 221, 221);
    --top-buttons: rgba(231, 255, 243, 0.932);
    --body-text-color: rgb(52, 0, 85);
    --sound-icon-color: rgb(52, 0, 85);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

#header {
    position: fixed;
    background-color: var(--topBackground);
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-icon {
    position: fixed;
    z-index: 2;
    width: 32px;
    height: 32px;
    margin: 0vh 0 0 92vw;
    fill: var(--home-icon-color);
}

.box-buttons {
    display: flex;
    width: 48vw;
    justify-content: space-around;
    padding: 0px 45px 0px 0px;
}

.top-button {
    color: var(--top-buttons);
    font-size: 1.75em;
    font-weight: bold;
}

.top-button:hover {
    cursor: pointer;
}

#home-icon:hover {
    cursor: pointer;
}

/* BODY */

#body {
    display: flex;
    flex: 1;
    background-color: var(--bodyBackground);
    color: var(--body-text-color);
    height: 100%;
    width: 100%;
}

#inicial-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#inicial-title h1 {
    display: flex;
    font-size: 5.6em;
    font-weight: bolder;
    color: var(--body-text-color);
    justify-content: center;
    padding-right: 40px;
}


#golpes-section,
#senhas-section,
#redes-section {
    display: none;
    width: 100%;
    height: auto;
    flex-direction: column;
    flex: 1;
    background-color: var(--bodyBackground);
    padding-bottom: 130px;
}

/* Título das seções */

.title {
    padding: 17vh 40px 8.8vh 0;
    font-size: 1.4em;
}

.title h1 {
    display: flex;
    font-size: 2.1em;
    font-weight: bolder;
    color: var(--body-text-color);
    justify-content: center;
}

/* Conteúdo das seções */
.content {
    padding: 0 4em 0 4em;
    font-size: 1.33em;
    font-family: Arial;
}

.content > h2 {
    padding-bottom: 1.2vh;
}

.content > ul {
    padding: 0 0 5vh 0;
}

#inicial-title:hover,
.title:hover,
.content:hover {
    cursor: default;
}

/* linha */

.horizontal-line {
    width: 90vw;
    border-top: 1px solid black;
    margin: 2em 0 4em 4em;
}

/* Vídeos das seções */

.videos {
    width: 94vw;
    display: flex;
    justify-content: space-around;
    padding-left: 2.5vw;
}

.videos iframe {
    width: 34vw;
    height: 39vh;
    border-radius: 5px;
}

/* ícones */

.up-icon {
    fill: var(--sound-icon-color);
    position: fixed;
    bottom: 65px;
    right: 22px;
    width: 40px;
    height: 40px;
}
.up-icon:hover {
    cursor: pointer;
}

.sound-icon {
    fill: var(--sound-icon-color);
    position: fixed;
    bottom: 25px;
    right: 22px;
    width: 35px;
    height: 35px;
}
.sound-icon:hover {
    cursor: pointer;
}