:root {
    --topBackground: rgb(107, 0, 173);
    --home-icon-color: rgb(52, 0, 85);
    --bodyBackground: rgb(221, 221, 221);
    --top-buttons: rgba(231, 255, 243, 0.932);
    --body-text-color: rgb(52, 0, 85);
    --sound-icon-color: rgb(52, 0, 85);
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

#header {
    position: fixed;
    background-color: var(--topBackground);
    width: 100vw;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-icon {
    position: fixed;
    z-index: 2;
    width: 32px;
    height: 32px;
    margin: 3.4vh 0 0 93vw;
    fill: var(--home-icon-color);
}

.box-buttons {
    display: flex;
    width: 48vw;
    justify-content: space-around;
    padding: 0px 45px 0px 0px;
}

.top-button {
    color: var(--top-buttons);
    font-size: 1.75em;
    font-weight: bold;
}

.top-button:hover {
    cursor: pointer;
}

#home-icon:hover {
    cursor: pointer;
}

/* BODY */

#body {
    background-color: var(--bodyBackground);
    width: 100vw;
    color: var(--body-text-color);
}

#inicial-section {
    padding-top: 40.4vh;
    padding-bottom: 32.6vh;
}

#inicial-title h1 {
    display: flex;
    font-size: 5.6em;
    font-weight: bolder;
    color: var(--body-text-color);
    justify-content: center;
    padding-right: 40px;
}


#golpes-section {
    display: none;
}

#senhas-section {
    display: none;
}

#redes-section {
    display: none;
}

/* Título das seções */

.title {
    padding: 17vh 40px 8.8vh 0;
    font-size: 1.4em;
}

.title h1 {
    display: flex;
    font-size: 2.1em;
    font-weight: bolder;
    color: var(--body-text-color);
    justify-content: center;
}

/* Conteúdo das seções */
.content {
    padding: 0 4em 5em 4em;
    font-size: 1.33em;
    font-family: Arial;
}

.content > h2 {
    padding-bottom: 1.2vh;
}

.content > ul {
    padding: 0 0 5vh 0;
}

#inicial-title:hover,
.title:hover,
.content:hover,
.video h3 {
    cursor: default;
}

.horizontal-line {
    border-radius: 20px;
    width: 80vw;
    height: 1px;
    padding: 10vh 0 0 3.1vw;
}

/* Vídeos das seções */

.videos {
    width: 94vw;
    display: flex;
    justify-content: space-around;
    padding-left: 2.5vw;
}

.videos a img {
    width: 35vw;
    height: 280px;
    border-radius: 5px;
}

.video h3 {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    padding-bottom: 100px;
}

/* ícones */

.up-icon {
    fill: var(--sound-icon-color);
    margin: 52vh 0 0 94.2vw;
    position: fixed;
    width: 40px;
    height: 40px;
}
.up-icon:hover {
    cursor: pointer;
}

.sound-icon {
    fill: var(--sound-icon-color);
    margin: 58.4vh 0 0 94.6vw;
    position: fixed;
    width: 35px;
    height: 35px;
}
.sound-icon:hover {
    cursor: pointer;
}