@keyframes animacao {
    0% {background-color: purple; width: 500px;}
    50% {background-color: yellow;width: 200px;}
    100% {background-color: red;width: 30px;}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    height: 500px;
    background-color: purple;
    animation-name: animacao;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* animation-delay: 2s; */
}